mixin goodCard(options)

    .good-card
        .good-card__header
            .good-card__img
                img(src=options.src, alt=options.title)
            .good-card__billets
                if options.sale
                    .good-card__billet-wrapper
                        +billet('sale')
                if options.new
                    .good-card__billet-wrapper
                        +billet('new')
                if options.pack
                    .good-card__billet-wrapper
                        +billet('pack')
            .good-card__look
                .good-card__look-button(data-card-look) быстрый просмотр
        
        .good-card__main
            .good-card__oferta-wrapper
                if options.oferta
                    .good-card__oferta -20% 
            .good-card__group #{options.group}
            //- в ссылке get запросом передать параметры товара,
            //- и на целевой странице скриптом создать нужные товары
            a.good-card__title(data-goods-link href="product.html?title="+options.title+"&price="+options.price+"&oldprice="+options.oldprice+"&src="+options.src) #{options.title}
            .good-card__price #{options.price}
            if options.oferta
                .good-card__old-price #{options.oldprice}
        .good-card__footer